<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>Audio Recording Test</h1>
  <p>Talk for 3 seconds, then you will hear your recording played back</p>
  <div><audio #audio controls autoplay></audio></div>
  <ion-button [disabled]="!isDisabled" (click)="onRecordingStart()">Start recording...</ion-button>
  <ion-button [disabled]="isDisabled" (click)="stopRecording()">Stop recording...</ion-button>
</ion-content>